extends ../base.pug

block content
    if errormessage 
        span=errormessage 
    form(method="POST")
        input(placeholder="Old Password", type="password", nmae="oldPassword")
        input(placeholder="New Password",type="password", nmae="newPassword")
        input(placeholder="New Password Confirmation",type="password",  name="newPasswordConfimation")
        input(value="Change Password", type="submit")